@charset "utf-8";

@font-face {
    font-family:'NotoSans';
    font-weight:100;
    font-style:normal;
    src:url('../font/noto-sans-kr-v13-latin_korean-100.woff2') format('woff2'), url('../font/noto-sans-kr-v13-latin_korean-100.woff') format('woff');
}

@font-face {
    font-family:'NotoSans';
    font-weight:300;
    font-style:normal;
    src:url('../font/noto-sans-kr-v13-latin_korean-300.woff2') format('woff2'), url('../font/noto-sans-kr-v13-latin_korean-300.woff') format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-weight:400;
    font-style:normal;
    src:url('../font/noto-sans-kr-v13-latin_korean-regular.woff2') format('woff2'), url('../font/noto-sans-kr-v13-latin_korean-regular.woff') format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-weight:500;
    font-style:normal;
    src:url('../font/noto-sans-kr-v13-latin_korean-500.woff2') format('woff2'), url('../font/noto-sans-kr-v13-latin_korean-500.woff') format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-weight:700;
    font-style:normal;
    src:url('../font/noto-sans-kr-v13-latin_korean-700.woff2') format('woff2'), url('../font/noto-sans-kr-v13-latin_korean-700.woff') format('woff');
}
@font-face {
    font-family:'NotoSans';
    font-weight:900;
    font-style:normal;
    src:url('../font/noto-sans-kr-v13-latin_korean-900.woff2') format('woff2'), url('../font/noto-sans-kr-v13-latin_korean-900.woff') format('woff');
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, button,
menu, nav, output, ruby, section, summary, select,
time, mark, audio, video, input[type='text'], textarea {
    font-family:'NotoSans', sans-serif;
    font-size: 16px;
}


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

input, textarea {
    border: none;
    resize: none;
}

input[readonly], textarea[readonly] {
    background-color: #EEE;
}

input:focus, textarea:focus {
    outline: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none}
button {border:none;cursor:pointer}

.bg-black {
   background-color: #32343B;
}
.bg-blue1 {
    background-color: #569EE6;
}
.bg-blue2 {
    background-color: #437EE4;
}
.bg-yellow1 {
    background-color: #F9CA30;
}
.bg-yellow2 {
    background-color: #FFD13A;
}
.bg-red1 {
    background-color: #E65D56;
}
.bg-red2 {
    background-color: #C2362E;
}

.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fc-red1 {
    color: #E65D56;
}
.fc-red2 {
    color: #CE342B;
}
.fc-red3 {
    color: #CE342B;
}
.fc-black {
    color: #32343B;
}
.fw-normal {
    font-weight: 500;
}
.fw-bold {
    font-weight: 700;
}
.fw-black {
    font-weight: 900;
}

.ml-16 {
    margin-left: 16px;
}

.ml-24 {
    margin-left: 24px;
}

/* margin */
.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}

.mr5{margin-right:5px !important;}

.mt0{margin-top:0px !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt60{margin-top:60px !important}
.mt70{margin-top:70px !important}
.mt80{margin-top:80px !important}
.mt90{margin-top:90px !important}
.mt100{margin-top:100px !important}

.mb0{margin-bottom:0px !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}

/* 오토사이즈 */
textarea.autosize {height: 25px; }

