<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="include/head.html :: head(pageCss)"></head>

<th:block th:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        header {width: calc(100% - 20px); padding: 10px;background: #eee;}
        header div {display: inline-block;}
    </style>
</th:block>

<body>
<header>
    <th:block th:if="${loginVO == null}">
        <div>환영합니다 로그인하세요.</div>
        <div style="float: right;">
            <a href="/login">로그인</a>
        </div>
    </th:block>
    <th:block th:if="${loginVO != null}">
        <div>[[${loginVO.name}]] 님 환영합니다.</div>
        <div style="float: right;">
                <th:block th:if="${loginVO.userSe == 'USR'}">
                    <a href="/adm">관리자</a>
                </th:block>
            <a href="/uat/uia/actionLogout.do">로그아웃</a>
        </div>
    </th:block>
</header>


<th:block th:replace="include/footer.html :: footer(pageJs)"></th:block>

<th:block th:fragment="pageJs">
    <script th:src="@{/js/index.js}"></script>
</th:block>

</body>
</html>