<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="include/head.html :: head(pageCss)"></head>

<th:block th:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<body>
<header style="width: 100%; background: #eee;">
    <th:block th:if="${loginVO == null}">
        <a href="/login">로그인</a>
    </th:block>
    <th:block th:if="${loginVO != null}">
        <p>[[${loginVO.name}]] 님 환영합니다.</p>
        <p>[(${loginVO})] 님 환영합니다.</p>
<!--        <p><span th:utext="${loginVO.toString()}"/> 님 환영합니다.</p>-->
        <a href="/uat/uia/actionLogout.do">로그아웃</a>
    </th:block>
</header>


<th:block th:replace="include/footer.html :: footer(pageJs)"></th:block>

<th:block th:fragment="pageJs">
    <script th:src="@{/js/index.js}"></script>
</th:block>

</body>
</html>