<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include/head.html :: head(pageCss)"></head>

<th:block th:fragment="pageCss">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        input[type="text"], input[type="password"] {background: #eee; border: 1px solid black; width: calc(100% - 12px); height: 30px; margin-bottom: 5px; padding: 0 5px;}
        select {width: 100%; height: 30px; margin-bottom: 5px; }
    </style>
</th:block>

<body>
    <div style="width: 300px; margin: 0 auto; margin-top: 40px;">
        <h2 style="text-align: center; font-size: 1.6em; margin-bottom: 20px;">로그인</h2>
        <form name="loginForm" method="post" action="/login">
            <h3 style="margin-bottom: 5px;">사용자</h3>
            <select name="userSe">
                <option value='GNR'>개인</option>
                <option value='ENT'>기업</option>
                <option value='USR' selected>업무</option>
            </select>
            <br />
            <br />
            <input id="id" name="id" type="text" value="" placeholder="ID"/>
            <br />
            <input id="password" name="password"  type="password" value="" placeholder="PW"/>
            <br />
            <br />
            <button type="submit" style="width: 100%; background: #0958A5; border: 1px solid black;">확인</button>
        </form>
        <br />
        <th:block th:if="${message != ''}">
            <p th:text="${message}" style="text-align: center"></p>
        </th:block>
    </div>





    <th:block th:replace="include/footer.html :: footer(pageJs)"></th:block>


    <th:block th:fragment="pageJs">
        <script th:src="@{/js/index.js}"></script>
    </th:block>
</body>
</html>