body {
    background-color: #32343B;
}

.signup-wrap {
    position:relative;
    width:100%;
    max-width: 1300px;
    margin: 74px auto 0 auto;
    overflow: hidden;
}

.signup-wrap .logo {
    position: relative;
    float: right;
}

.signup {
    position: relative;
    width:100%;
    height: 100%;
    margin-top: 110px;
    padding-bottom: 50px;
    background-color: #fff;
}

.signup .content{
    position: relative;
    width:635px;
    margin: 0 auto;
}

.signup .content h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
    color: #32343B;
}

.btn-signup {
    display: block;
    width: 355px;
    height: 65px;
    margin: 46px auto 0 auto;
    text-align: center;
    background: #32343b;
    border: none;
    color: #fff;
    font-size: 22px;
}

/* input text */
.text-input-wrap {
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding-top: 27px;
}

.text-input-wrap label{
    position:absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #32343B;
    font-weight: 600;
}

.text-input-wrap label.on {
    color: #E65D56;
}

.text-input-wrap input{
    width: calc(100% - 127px);
    border: 0;
    border-bottom: 2px solid #ABAFBC;
    padding: 12px 0 13px 20px;
    background-color: #F9FAFC;
    font-size: 20px;
    vertical-align: top;
    outline: none;
}

.text-input-wrap input.on {
    border: none;
    border-bottom: 2px solid #E65D56;
}

.text-input-wrap .btn-red {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 13px 0;
    border: none;
    color: #fff;
    font-size: 16px;
    background: #e65d56;
    text-align: center;
}

/*.text-input-wrap input:hover{
    color: #368DFF;
    border: 2px solid #368DFF;
    background: #f9fafc;
    box-shadow: 0px 3px 6px #bad7fe;
}*/

.text-input-wrap .input-msg {
    font-size: 14px;
    margin-top: 7px;
    padding: 0 0 2px;
}

.text-input-wrap .input-msg span {
    vertical-align: text-top;
    margin-left: 5px;
}

.text-input-wrap .input-msg::before {
    display: none;
    content: "";
    width: 15px;
    height: 15px;
    background: url("/img/common/sp_system.png") no-repeat 0 0px;
}

.text-input-wrap .input-msg.on::before {
    display: inline-block;
}

.text-input-wrap .input-msg.on.info::before {
    background: url("/img/common/sp_system.png") no-repeat 0 0px;
}

.text-input-wrap .input-msg.on.success::before {
    background: url("/img/common/sp_system.png") no-repeat -30px 0px;
}

.text-input-wrap .input-msg.on.error::before {
    background: url("/img/common/sp_system.png") no-repeat -15px 0px;
}

.text-input-wrap .input-msg.on.warning::before {
    background: url("/img/common/sp_system.png") no-repeat 0 -49px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C7CBD8;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C7CBD8;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #C7CBD8;
}

/* System color */
.success {
    color: #4CAF50!important;
}
.error {
    color: #D32F2F!important;
}
.info {
    color: #0091EA!important;
}
.warning {
    color: #F9A825!important;
}